<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a id="rail2" href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> is a
  <a id="rail3" href="http://www.railstutorial.org/book">book</a> and
  <a id="rail4" href="http://screencasts.railstutorial.org/">screencast series</a>
  to teach web development with
  <a id="rail5" href="http://rubyonrails.org/">Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %> 
<%= link_to image_tag("kitten.jpg", alt: "kitten"),
	    'https://www.learnenough.com/' %>
